
{% extends "base.html" %}
{% block title %}Login{% endblock title %}Login
{% block content %}
<div class="container mt-3">
  {% if messages %}
    <div class="alert-container">
      {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
  <div class="login-container">
    <h1 class="login-title">Login</h1>
    <form action="" method="post" class="login-form">
      {% csrf_token %}
      <div class="form-group">
        <label for="username" class="form-label">Username:</label>
        <input type="text" id="username" name="username" required class="form-input">
      </div>
      <div class="form-group">
        <label for="password" class="form-label">Password:</label>
        <input type="password" id="password" name="password" required class="form-input">
      </div>
      <button type="submit" class="login-btn">Login</button>
    </form>
  </div>
  <style>
    .login-container {
      max-width: 300px;
      margin: 40px auto;
      padding: 20px;
      background-color: #f9f9f9;
      border: 1px solid #ccc;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .login-title {
      text-align: center;
      margin-bottom: 20px;
    }
    .login-form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .form-group {
      margin-bottom: 20px;
      width: 100%;
    }
    .form-label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
    }
    .form-input {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
    }
    .login-btn {
      background-color: #4CAF50;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    .login-btn:hover {
      background-color: #3e8e41;
    }
  </style>
{% endblock content %}
